<p>Hi {{user.name}},</p>

<p>AGA Online Ratings would like to confirm that your AGA id, {{aga_id}}, will be linked to the account listed under {{user.email}}. If this is correct, click the below link. This will allow games played online to count towards your AGA rating.</p>

<p><a href="{{verify_link}}">Click here to link your AGA account</a></p>

<p>If you did not attempt to link this AGA id, then you can ignore this email. You can also double-check your AGA membership details at <a href="http://www.usgo.org/members">the AGA Membership Manager</a></p>

