{% extends "base.html" %}

{% block title %}AGA id confirmation email sent{% endblock %}

{% block page_content %}

<div class="panel">
    <div class="panel-heading">
        <h3> AGA id confirmation email sent! </h3>
    </div>
    <div class="panel-body">
        <p>
        Email sent. You should receive an email at the e-mail address registered with your AGA account; if you do not receive an e-mail address, check your account details at <a href="http://www.usgo.org/members">the AGA account management site</a> and ensure your e-mail address is correct.
        </p>
    </div>
</div>

{% endblock %}
