{% extends "bootstrap/base.html" %}


{% block head %}
{{super()}}
<link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css">
{% endblock %}
{% block title %}Online Ratings Database{% endblock %}
{% block navbar %}
<nav class="navbar nav navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-collapse collapse">
            <img class="navbar-brand" style="padding: 5px"src="/static/agalogo2.png"><a class="navbar-brand" href="/">AGA Online Ratings</a>
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                {% if current_user.has_role('ratings_admin') %}
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Ratings Admin<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li> <a href="{{url_for('ratings.servers')}}">Game Servers</a></li>
                        <li> <a href="{{url_for('ratings.listgames')}}">Latest Games</a></li>
                        <li> <a href="{{url_for('ratings.players')}}">Players</a></li>
                    </ul>
                </li>
                {% endif %}
                {% if current_user.has_role('server_admin') %}
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Server Admin<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li> <a href="{{url_for('ratings.servers')}}">Game Servers</a></li>
                        <li> <a href="{{url_for('ratings.listgames')}}">Latest Games</a></li>
                    </ul>
                </li>
                {% endif %}
                {% if current_user.is_authenticated() %}
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Account<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{url_for('ratings.profile')}}">Profile</a></li>
                        <li><a href="{{url_for_security('change_password')}}">Change Password</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated() %}
                <li class="navbar-text">Logged in as {{current_user.email}}</li>
                <li><a href="{{url_for_security('logout')}}">Logout</a></li>
            {% else %}
                <li><a href="{{url_for_security('login')}}">Login</a></li>
            {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script type="text/javascript">
var csrftoken = "{{ csrf_token() }}";

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    }
})
</script>
{% endblock %}