{% extends "base.html" %}

{% block title %}Welcome!{% endblock %}

{% block page_content %}

<h1> Welcome to Online Ratings! </h1>

<h2>How does this work? </h2>

<p> There are a lot of Go servers online that try to assign you a rating - KGS, OGS, IGS, Tygem, WBaduk, and countless others. The problem is that these ratings don't always agree with each other, or with the AGA's own rating system.</p>

<p> We're putting together a way for all these Go organizations to combine their game data, and calculate a single, more accurate rating.</p>

<p> For this to work, we need a way to put all of your accounts from OGS, KGS, etc. together.</p>

<p> Here's how it works:</p>
<ol>
    <li> For each account you have (OGS, KGS, etc.), generate a new profile/token combination on your Online Ratings account.</li>
    <li> Take that profile's token and give it to the server.</li>
</ol>

<p> That's it! Once the server knows who you are, they'll do the rest of the work in sending us the game data. </p>

<p> Head over to <a href="{{url_for('ratings.myaccount')}}"> your account page</a> to get started</p>


<h2> Specific instructions for...</h2>
<h3> OGS (Online Go Server)</h3>

<p> Head over to your <a href="https://online-go.com/user/settings" target="_blank">OGS User Settings page</a> and under "AGA Settings", paste your token into the Token field. Then, click Link AGA Account.</p>

<!--
(For the future!)
<h3> AGA rated games </h3>
<p> To add your existing AGA rated games, head over to <a href="{{url_for('ratings.myaccount')}}">your account page</a> and click "Link your AGA Account".  Enter your AGA ID and check your email inbox for a verification link.</p>
-->

{% endblock %}
