{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block page_content %}
<div class="jumbotron">
    <h2>
Welcome to the American Go Association's online ratings server.
</h2>
<p>
This service provides a way for AGA members to play rated games on 3rd party go servers.  The games are ranked separately from in person games and are independent of your AGA rating.
</p>
<p>
The online-ratings profile is an open protocol -- any 3rd party server can implement it.
</p>
<p>
Stay tuned for more information...
</p>
{% endblock %}
