{% extends "base.html" %}

{% block title %}Latest Games{% endblock %}

{% block page_content %}
<table border class="table">
<tr>
    <th>Game Server</th>
    <th>White AGA ID (nick)</th>
    <th>Black AGA ID (nick)</th>
    <th>Result</th>
    <th>Rated?</th>
    <th>Date Played</th>
    <th>Game Record</th>
</tr>
{% for g in games %}
<tr>
    <td>{{g.game_server.name}}</td>
    <td>{{g.white.user.aga_id}} ({{g.white.name}})</td>
    <td>{{g.black.user.aga_id}} ({{g.black.name}})</td>
    <td>{{g.result}}</td>
    <td>{{g.rated}}</td>
    <td>{{g.date_played}}</td>
    <td>
    {% if g.game_record is not none %}
      <a href="{{ url_for('ratings.gamedetail', game_id=g.id) }}">link</a>
    {% endif %}
    </td>
</tr>
{% else %}
<tr><td colspan="10"><center>No games found</center></td></tr>
{% endfor %}
</table>
{% endblock %}
