{% extends "base.html" %}

{% block title %}My Account{% endblock %}

{% block page_content %}

<h1> My Account </h1>
<table class="table">
   <tr><td>AGA ID</td>
       {% if user.aga_id is none %}
       <td><a href="{{url_for('verify.verify_form')}}"> Link your AGA account </a></td>
       {% else %}
       <td>{{ user.aga_id }}</td>
       {% endif %}
    </tr>
    <tr><td>Contact Email</td><td>{{ user.email }}</td></tr>
    <tr><td>Rating</td><td> {{ user.last_rating() or "No rating available"}}</td></tr>
    <!-- User ID: {{user.id}} -->
</table>

{% if user.is_server_admin() %}
<h2>My Game Server(s)</h2>
<table class="table">
    <tr><th>Name</th><th>URL</th><th>Token</th></tr>
    {% for s in user.servers %}
    <tr>
        <td>{{ s.name }}</td>
        <td>{{ s.url }}</td>
        <td>{{ s.token }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}

<h2> My profiles </h2>

<div class="panel panel-default">
    <table class="table">
        <tr>
            <th>Server</th>
            <th>Name <a href="#" data-toggle="tooltip" title="This is your nickname or handle on the server">?</a> </th>
            <th>Token <a href="#" data-toggle="tooltip" title="Anyone with your token can play rated games as this profile.  Keep it secret!">?</a> &nbsp; <a href="#"id="show-token-button" onClick="showTokens()">(Show tokens)</a></th>
            <th>Reset token <a href="#" data-toggle="tooltip" title="Reset this token - games will stop being submitted until you re-enter your new token">?</a></th></tr>
        {% for p in players %}
        <tr>
            <td>{{p.server.name}}</td>
            <td>
                <a href="{{ url_for('ratings.player', player_id=p.id) }}">{{p.name}}</a>
            </td>
            <td><div class="player-token" style="display:none">{{ p.token }}</div></td>
            <td><button onclick="reset_token({{p.id}})" type="button">Reset</td>
        </tr>
        {% else %}
        <tr><td colspan="4">No profiles yet! To get started, create a profile below. </td></tr>
        {% endfor %}
    </table>
</div>

<form method="POST" action="{{ url_for('ratings.create_player') }}">
    {{form.csrf_token}}
    Username {{form.name}} on server {{form.server}}
    <input type="submit" value="Create profile"/>

</form>


<h2>My Games</h2>
<div class="panel panel-default">
<table class="table">
  <tr>
    <th>Game Server</th>
    <th>White</th>
    <th>Black</th>
    <th>Result</th>
    <th>Date Played</th>
    <th>Game Record</th>
  </tr>
{% for g in games %}
  <tr>
    <td>{{g.game_server.name}}</td>
    <td>
      <a href="{{url_for('ratings.player', player_id=g.white.id)}}">
      {% if g.result.upper().startswith('W') %}
          <strong>AGA {{g.white.user.aga_id}} ({{g.white.name}})</strong>
      {% else %}
          AGA {{g.white.user.aga_id}} ({{g.white.name}})
      {% endif %}
      </a>
    </td>
    <td>
      <a href="{{url_for('ratings.player', player_id=g.black.id)}}">
      {% if g.result.upper().startswith('B') %}
          <strong>AGA {{g.black.user.aga_id}} ({{g.black.name}})</strong>
      {% else %}
          AGA {{g.black.user.aga_id}} ({{g.black.name}})
      {% endif %}
      </a>
    </td>
    <td>{{g.result}}</td>
    <td>{{g.date_played}}</td>
    <td><a href="{{url_for('ratings.gamedetail', game_id=g.id)}}">link</a></td>
  </tr>
{% else %}
  <tr><td colspan="6">No games played yet.</td></tr>
{% endfor %}
</table>

</div>

{% endblock %}
{% block scripts %}
{{super()}}
<script type="text/javascript">
function showTokens() {
    $('div.player-token').removeAttr('style');
    $('#show-token-button').remove();
}

function reset_token(player_id) {
    var TOKEN_RESET_ENDPOINT = "{{ url_for('ratings.reset_player_token', player_id='replacethis') }}";
    return $.ajax({
        method: "POST",
        url: TOKEN_RESET_ENDPOINT.replace("replacethis", player_id)
    }).then(function(response) {
        alert("Token successfully reset.")
        location.reload();
    }).fail(function(response) {
        alert("Uhoh, something went wrong. Please contact an admin.")
    });
}
</script>{% endblock %}
