{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Home{% endblock %}

{% block page_content %}

<h1>{{player.name}}</h1>

<table border class="table">
    <tr><td>AGA ID</td><td>{{ player.user.aga_id }}</td></tr>
    {% if user.can_reset_player_token(player) %}<tr><td>Token</td><td>{{ player.token }}</td></tr>{% endif %}
</table>
{% if games %}
<table border class="table">
  <tr>
    <th>Game Server</th>
    <th>White</th>
    <th>Black</th>
    <th>Result</th>
    <th>Rated?</th>
    <th>Date Played</th>
    <th>Game Record</th>
  </tr>
  {% for g in games %}
    <tr>
      <td>{{g.game_server.name}}</td>
      <td>
        <a href="{{url_for('ratings.player', player_id=g.white.id)}}">
        {% if g.result.upper().startswith('W') %}
            <strong>AGA {{g.white.user.aga_id}} ({{g.white.name}})</strong>
        {% else %}
            AGA {{g.white.user.aga_id}} ({{g.white.name}})
        {% endif %}
        </a>
      </td>
      <td>
        <a href="{{url_for('ratings.player', player_id=g.black.id)}}">
        {% if g.result.upper().startswith('B') %}
            <strong>AGA {{g.black.user.aga_id}} ({{g.black.name}})</strong>
        {% else %}
            AGA {{g.black.user.aga_id}} ({{g.black.name}})
        {% endif %}
        </a>
      </td>
      <td>{{g.result}}</td>
      <td>{{g.rated}}</td>
      <td>{{g.date_played}}</td>
      <td><a href="{{url_for('ratings.gamedetail', game_id=g.id)}}">link</a></td>
    </tr>
  {%endfor%}
</table>
{% endif %}

{% if user.can_reset_player_token(player) %}
<p>Your token is the password that {{player.server.name}} uses to submit rated games to the AGA. If this token is shared, anybody could submit games under your name. You can reset your token if this has happened. Your games for {{player.server.name}} will stop syncing until you update your {{player.server.name}} account with the new token</p>
<input id="reset_token" type="button" value="Reset token for account {{player.name}}">
{% endif %}

{% endblock %}
{% block scripts %}
{{super()}}
{% if user.can_reset_player_token(player) %}
<script type="text/javascript">
function reset_player_token(player_id) {
    var TOKEN_RESET_ENDPOINT = "{{ url_for('ratings.reset_player_token', player_id='replacethis') }}";
    return $.ajax({
        method: "POST",
        url: TOKEN_RESET_ENDPOINT.replace("replacethis", player_id)
    });
}

$("input#reset_token").click(function () {
    if (window.confirm("Do you really want to reset your token?")) {
        reset_player_token({{player.id}})
            .then(function(response) {
                alert("Success!");
                location.reload();
            }).fail(function(response) {
                alert("Uhoh, something went wrong. Please contact an admin.")
            });
    }
})
</script>
{% endif %}
{% endblock %}