{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Players{% endblock %}

{% block page_content %}

<table border class="table">
  <tr><th>Server</th><th>Username</th><th> Name </th> <th> AGA ID </th></tr>
  {% for player in players %}
  <tr>
    <td>{{ player.server.name }}</td>
    <td><a href="{{ url_for('ratings.player', player_id=player.id) }}" >{{ player.name }}</a></td>
    <td>{{ player.user.name }}</td>
    <td>{{ player.user.aga_id }}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
