{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Players{% endblock %}

{% block page_content %}

<h2>Search</h2>

{{ wtf.quick_form(form) }}

<hr/>

<table border class="table">
  <tr><th>Name</th><th>Server</th> <th>AGA ID</th></tr>
  {% for player in players %}
  <tr>
    <td><a href="{{ url_for('ratings.player', player_id=player.id) }}" >{{ player.user.name }}</td>
    <td>{{ player.server.name }}</td>
    <td>{{ player.user.aga_id }}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
