{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Home{% endblock %}

{% block page_content %}

<h1> Server info for {{server.name}} </h1>

<table border class="table">
    <tr><td>Name</td><td>{{ server.name }}</td></tr>
    <tr><td>URL</td><td>{{ server.url }}</td></tr>
    <tr><td>Players</td><td>{{ server.players|length }}</td></tr>
    <tr><td>Token</td><td>{{ server.token }}</td></tr>
</table>

<input id="reset_token" type="button" value="Reset token for {{server.name}} server" for="{{server.id}}">


{% if players %}
<h1>Players</h1>
<table border class="table">
  <tr><th> Name </th> <th> AGA_ID </th> <th> Last Seen </th> </tr>
  {% for p in players %}
    <tr>
      <td><a href="{{ url_for('ratings.player', player_id=p.id) }}">{{p.name}}</a></td>
      <td>{{p.user.aga_id}}</td>
      <td></td>
    </tr>
  {%endfor%}
</table>
{% endif %}

{% endblock %}

{% block scripts %}
{{super()}}
<script type="text/javascript">
var csrftoken = "{{ csrf_token() }}";

$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken)
        }
    }
})

function reset_server_token(server_id) {
    var TOKEN_RESET_ENDPOINT = "{{ url_for('ratings.reset_server_token', server_id='replacethis') }}";
    return $.ajax({
        method: "POST",
        url: TOKEN_RESET_ENDPOINT.replace("replacethis", server_id)
    });
}

$("input#reset_token").click(function () {
    if (window.confirm("Do you really want to reset your token?")) {
        var server_id = $(this).attr("for");
        reset_server_token(server_id)
            .then(function(response) {
                alert("Success!");
                location.reload();
            });
    }
})
</script>
{% endblock %}