{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div>
    <h3>Event Name: {{ tournament.event_name }}</h3>
    <ul>
      <li>Start Date: {{ tournament.start_date }}</li>
      <li>Venue: {{ tournament.venue }}</li>
      <li>Director: {{ tournament.director }}</li>
      <li>Pairing: {{ tournament.pairing }}</li>
      <li>Rules: {{ tournament.rule_set }}</li>
    </ul>
  </div>
  <form action="{{ url_for('.delete', tournament_id=tournament.id) }}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <input type="hidden" name="objects" id="objects" value="{{ tournament.id }}" />
    <button type="submit">Delete</button>
  </form>
</div>
{% endblock content %}
