{% extends 'base.html' %}

{% block content %}
<div class="container">
  {% include "tournament_block.html" %}

  {% if tournament.submitted == False %}
  <a href="{{ url_for( '.new_player', tournament_id=tournament.id )}}"><button>Add Player</button></a></br>
  <form action="{{ url_for('.delete', tournament_id=tournament.id) }}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <input type="hidden" value="{{ tournament.id }}" />
    <button type="submit">Delete</button>
  </form>
</div>
{% endif %}

{% endblock content %}
