{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1>Index of All Matches</h1>
  {% for match in matches %}
  <div>
    <p><b>Round: {{ match.t_round }}</b></p>
    <p>Match ID {{ match.id }}</p>
    <p>Black's Name: {{ match.player_1_name}}</p>
    <p>White's Name: {{ match.player_2_name }}</p>
    <p>Match Pairing: {{ match.pairing }}</p>
    <p>Match Result: {{ match.result }}</p>
    <p>Match Result Notation: {{ match.result_notation }}</p>
    </br></br>
  </div>
  {% endfor %}


</div>
{% endblock content%}
