{% extends 'base.html' %}

{% block content %}
<div class="container">
  {% for match in matches %}
  <div>
    <p>Match ID {{ match.id }}</p>
    <p>Black's Name: {{ match.player_1_name}}</p>
    <p>White's Name: {{ match.player_2_name }}</p>
    <p>Match Result: {{ match.result}}</p>
    <a href="{{ url_for('.edit_match', tournament_id=match.tournament_id, match_id=match.id)}}"><button type="button" name="button">Edit Match</button></a>
    </br></br>
  </div>
  {% endfor %}
</div>
{% endblock content%}
