{% extends 'base.html' %}



{% block content %}
<div class="container">
<h2>Please enter Tournament Info:</h2>

<!--  if new  else edit -->
  <form method="post" name='/' {% if not tournament %}
    action="{{ url_for('.index') }}" > {% endif %}

    {% if tournament %}
      action="{{ url_for('.show', tournament_id=tournament.id) }}" >
        <input type="hidden" name="_method" value="PUT">
        <!--  Using HTML Forms for PUT and DELETE require smuggling those 
              values in as hidden inputs on POST requests.
              Ajax could be used to clean this up -->
    {% endif %}

    {{ form.hidden_tag() }}

        <p>{{ form.event_name.label }}: {{ form.event_name }}</p>

        <!-- venue details -->
        <p>{{ form.venue.label }}: {{ form.venue }}</p>
        <p>{{ form.venue_address.label }}: {{ form.venue_address }}</p>
        <p>{{ form.venue_state.label }}: {{ form.venue_state }}</p>
        <p>{{ form.venue_zip.label }}: {{ form.venue_zip }}</p>

        <!--  tourny dates-->
        <p>{{ form.start_date.label }}: {{ form.start_date }}</p>
        <p>{{ form.end_date.label }}: {{ form.end_date }}</p>

        <p>{{ form.director.label }}: {{ form.director }}</p>
        <p>{{ form.director_email.label }}: {{ form.director_email }}</p>
        <p>{{ form.director_phone.label }}: {{ form.director_phone }}</p>
        <p>{{ form.director_address.label }}: {{ form.director_address }}</p>

        <p>{{ form.sponsor.label }}: {{ form.sponsor }}</p>
        <p>{{ form.sponsor_phone.label }}: {{ form.sponsor_phone }}</p>
        <p>{{ form.sponsor_email.label }}: {{ form.sponsor_email }}</p>
        <p>{{ form.sponsor_website.label }}: {{ form.sponsor_website }}</p>
        <p>{{ form.sponsor_address.label }}: {{ form.sponsor_address }}</p>

        <p>{{ form.convener.label }} {{ form.convener }}</p>
        <p>{{ form.convener_phone.label }}: {{ form.convener_phone }}</p>
        <p>{{ form.convener_email.label }}: {{ form.convener_email }}</p>
        <p>{{ form.convener_website.label }}: {{ form.convener_website }}</p>
        <p>{{ form.convener_address.label }}: {{ form.convener_address }}</p>

        <p>{{ form.pairing.label }}: {{ form.pairing }}</p>

        <p>{{ form.rule_set.label }}: {{ form.rule_set }}</p>

        <p>{{ form.time_controls.label }}: {{ form.time_controls }}</p>
        <p>{{ form.basic_time.label }}: {{ form.basic_time }}</p>
        <p>{{ form.overtime_format.label }}: {{ form.overtime_format }}</p>
        <p>{{ form.overtime_conditions.label }}:
            {{ form.overtime_conditions }}</p>

        <p>{{ form.komi.label }}: {{ form.komi }}</p>
        <p>{{ form.tie_break1.label }}: {{ form.tie_break1 }}</p>
        <p>{{ form.tie_break2.label }}: {{ form.tie_break2 }}</p>

        <p>Check to Submit Finalized Tournament Record:
            {{ form.submitted }}</p>
        <p>{{ form.submit }}</p>
  </form>
</div>

{% endblock content %}
