{% extends 'base.html' %}

{% block content %}
<div class="container">
  {% include "tournament_block.html" %}

  {% if tournament.submitted == False %}
  <a href="{{ url_for( '.new_player', tournament_id=tournament.id )}}"><button>Add Player</button></a></br>
  <form action="{{ url_for('.show', tournament_id=tournament.id) }}" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <button type="submit">Delete</button>
    <!--  Using HTML Forms for PUT and DELETE require smuggling those
          values in as hidden inputs on POST requests.
          Ajax could be used to clean this up -->
  </form>
</div>
{% endif %}

{% endblock content %}
