{% extends 'base.html' %}



{% block content %}
<div class="container">

<h2>Please enter Tournament Info:</h2>
  <form method="post" name='new'>
    {{ form.hidden_tag() }}

        <p>{{ form.event_name.label }}: {{ form.event_name }}</p></br>

        <!-- venue details -->
        <p>{{ form.venue.label }}: {{ form.venue }}</p></br>
        <p>{{ form.venue_address.label }}: {{ form.venue_address }}</p></br>
        <p>{{ form.venue_state.label }}: {{ form.venue_state }}</p></br>
        <p>{{ form.venue_zip.label }}: {{ form.venue_zip }}</p></br>

        <!--  tourny dates-->
        <p>{{ form.start_date.label }}: {{ form.start_date }}</p></br>
        <p>{{ form.end_date.label }}: {{ form.end_date }}</p></br>

        <p>{{ form.director.label }}: {{ form.director }}</p></br>
        <p>{{ form.director_phone.label }}: {{ form.director_phone }}</p></br>
        <p>{{ form.director_email.label }}: {{ form.director_email }}</p></br>
        <p>{{ form.director_address.label }}: {{ form.director_address }}</p></br>

        <p>{{ form.sponsor.label }}: {{ form.sponsor }}</p></br>
        <p>{{ form.sponsor_phone.label }}: {{ form.sponsor_phone }}</p></br>
        <p>{{ form.sponsor_email.label }}: {{ form.sponsor_email }}</p></br>
        <p>{{ form.sponsor_website.label }}: {{ form.sponsor_website }}</p></br>
        <p>{{ form.sponsor_address.label }}: {{ form.sponsor_address }}</p></br>

        <p>{{ form.convener.label }} {{ form.convener }}</p></br>
        <p>{{ form.convener_phone.label }}: {{ form.convener_phone }}</p></br>
        <p>{{ form.convener_email.label }}: {{ form.convener_email }}</p></br>
        <p>{{ form.convener_website.label }}: {{ form.convener_website }}</p></br>
        <p>{{ form.convener_address.label }}: {{ form.convener_address }}</p></br>

        <p>{{ form.pairing.label }}: {{ form.pairing }}</p></br>

        <p>{{ form.rule_set.label }}: {{ form.rule_set }}</p></br>

        <p>{{ form.time_controls.label }}: {{ form.time_controls }}</p></br>
        <p>{{ form.basic_time.label }}: {{ form.basic_time }}</p></br>
        <p>{{ form.overtime_format.label }}: {{ form.overtime_format }}</p></br>
        <p>{{ form.overtime_conditions.label }}: {{ form.overtime_conditions }}</p></br>

        <p>{{ form.komi.label }}: {{ form.komi }}</p></br>
        <p>{{ form.tie_break.label }}: {{ form.tie_break }}</p></br>

        <p>Check to Submit Finalized Tournament Record:  {{ form.submitted }}</p></br>

        <p>{{ form.submit }}</p>
  </form>
</div>

{% endblock content %}
