{% extends "bootstrap/base.html" %}


{% block head %}
{{super()}}
<link rel="stylesheet" type="text/css" href="/static/bootstrap.min.css">
{% endblock %}
{% block title %}Online Ratings Database{% endblock %}
{% block navbar %}
<nav class="navbar nav navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img class="navbar-brand" style="padding: 5px"src="/static/agalogo2.png"><a class="navbar-brand" href="/">AGA Online Ratings</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                {% if current_user.has_role('ratings_admin') %}
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Ratings Admin<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li> <a href="{{url_for('.servers')}}">Game Servers</a></li> 
                        <li> <a href="{{url_for('.latestgames')}}">Latest Games</a></li>
                        <li> <a href="{{url_for('.players')}}">Players</a></li>
                    </ul>
                </li>
                {% endif %}
                {% if current_user.has_role('server_admin') %}
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Server Admin<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li> <a href="{{url_for('.servers')}}">Game Servers</a></li> 
                        <li> <a href="{{url_for('.latestgames')}}">Latest Games</a></li>
                    </ul>
                </li>
                {% endif %}
                {% if not current_user.is_anonymous() %}
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Account<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/ViewProfile">Profile</a></li>
                        <li><a href="/change">Change Password</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
            {% if not current_user.is_anonymous() %}
            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-text">Logged in as {{current_user.email}}</li>
                <li><a href="/logout">Logout</a></li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    {% block page_content %}{% endblock %}
</div>
{% endblock %}
