{% extends "base.html" %}

{% block title %}some game{% endblock %}

{% block page_content %}
<h1> {{ game }} </h1>
  {% if game and game.game_record %}
  <h2> Game record </h2>

  <div id="glift" style="display:block; position:relative; width:100%; height:500px">
  </div>
  {% endif %}

    <script src="/static/glift.min.js"></script>
      <script>

  gliftWidget = glift.create({
    sgfString: "{{game.game_record.decode()}}",
    divId: "glift",
    display: {
      theme: 'DEPTH',
      disableZoomForMobile: true
    }
  });
    </script>
{% endblock %}

