{% extends "base.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Home{% endblock %}

{% block page_content %}

<h1> {{player.name}} </h1>
{% if games %}
<table border class="table">
  <tr>
    <th>Game Server</th>
    <th>White</th>
    <th>Black</th>
    <th>Result</th>
    <th>Rated?</th>
    <th>Date Played</th>
    <th>Game Record</th>
  </tr>
  {% for g in games %}
    <tr>
      <td>{{g.game_server.name}}</td>
      <td>
        {% if g.result.upper().startswith('W') %}
          <strong>{{g.white.name}}</strong>
        {% else %}
          {{g.white.name}}
        {% endif %}
      </td>
      <td>
        {% if g.result.upper().startswith('B') %}
          <strong>{{g.black.name}}</strong>
        {% else %}
          {{g.black.name}}
        {% endif %}
      </td>
      <td>{{g.result}}</td>
      <td>{{g.rated}}</td>
      <td>{{g.date_played}}</td>
      <td><a href="{{url_for('.gamedetail', game_id=g.id)}}">link</a></td>
    </tr>
  {%endfor%}
</table>
{% endif %}

{% endblock %}
