{% extends "base.html" %}

{% block title %}My Profile{% endblock %}

{% block page_content %}
    User profile:
    <br><br>
    <table border>
      <th>Field</th><th>Value</th>
      <tr><td>AGA ID</td><td>{{ user.aga_id }}</td></tr>
      <tr><td>Email</td><td>{{ user.email }}</td></tr>
      <tr><td>Token</td><td>{{ user.token }}</td></tr>
      <tr><td>ID</td><td>{{ user.id }}</td></tr>
    </table>

    {% if games %}
        {% for game in games %}
        <br>
            {{ game }}
        {% endfor %}
    {% endif %}
{% endblock %}
